.view {
    text-align: center;
}

.jordan {
    margin: auto;
    width: 90%;
    margin-bottom: 30px;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

div.scrollmenu>div {
    width: 100px;
    display: inline;
}

div.scrollmenu>div>img {
    width: 300px;
}

div.scrollmenu {
    width: 80vw;
    height: 400px;
    overflow-x: scroll;
    margin: 10px auto;
}

div.scrollmenu::-webkit-scrollbar {
    width: 50px;
}

div.scrollmenu::-webkit-scrollbar-track {
    background-color: rgb(238, 238, 238);
    border-radius: 50px;
}

div.scrollmenu::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: rgb(71, 71, 71);
}

.grid-container {
    display: flex;
}

.grid-item {
    margin: 20px 50px;
    width: 100%;
}

.grid-item>img {
    width: 100%;
}

.big-pic {
    width: 80vw;
}

.picture>img {
    width: 300px;
    margin-left: 10px;
}

.catagory-table {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    text-align: center;
}

.custom-th>th {
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: rgb(73, 73, 73);
    text-decoration: none;
}

.catagory-table>table {
    text-align: start;
    width: 60%;
}

footer {
    height: 30%;
    display: flex;
    background-color: black;
    justify-content: space-around;
}

.footer-container-table {
    display: flex;
    justify-content: space-around;
}

.change-color>a {
    color: rgb(255, 255, 255);
}

.footer-container {
    margin: 30px 0px;
    display: flex;
}

.footer-table {
    width: 90%;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: rgb(73, 73, 73);
    text-decoration: none;
}

.social-icons {
    display: flex;
    position: relative;
    left: 20px;
    color: blanchedalmond;
}

.social-icons>li>a>svg {
    fill: rgb(122, 122, 122);
}